
@tailwind base;
@tailwind components;
@tailwind utilities;

body.dialog-open::before{
    content: '';
    position  : fixed;
    inset : 0;
    background-color: rgba(25, 29, 34, 0.8);
    z-index: 40;
    overflow: hidden;

}
